p {
    font-family: Lato;
  }

  nz-header {
    background: #fff;
    width: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
  }
  .content {
    min-height: 100%;
  }
  .content-inside {
    padding: 20px;
    padding-bottom: 50px;
  }
  .footer {
    height: 50px;
    margin-top: -50px;
  }
  .header {
    height: 50px;
  }