    <div class="container">
      <nz-layout>
          <app-header></app-header>
        <nz-layout>
          <router-outlet></router-outlet>
        </nz-layout>
        <nz-footer>
          <app-footer></app-footer>
        </nz-footer>
    </nz-layout>
    </div>

    <!-- 
        / \   _ __   __ _ _   _| | __ _ _ __     / ___| |   |_ _|
       / △\ | '_ \ / _` | | | | |/ _` | '__|   | |   | |    | |
      / ___ \| | | | (_| | |_| | | (_| | |      | |___| |___ | |
     /_/   \_\_| |_|\__, |\__,_|_|\__,_|_|       \____|_____|___|
                    |___/
    
    Angular CLI: 8.3.21
    Node: 12.14.0
    OS: win32 x64
    Angular:
    ...
    
    Package                      Version
    ------------------------------------------------------
    @angular-devkit/architect    0.803.21
    @angular-devkit/core         8.3.21
    @angular-devkit/schematics   8.3.21
    @schematics/angular          8.3.21
    @schematics/update           0.803.21
    rxjs                         6.4.0
    -->
